h1, h2, h3, p, strong, div, a, a:link, a:visited  {
	font-family: Microsoft JhengHei;
}
.boxFeature-2 p {
	font-size: 14px;
}
.btn.homeBtn {
    position: relative;
    top: 10em;
}
#logoBig img {
    width: 450px;
    top: -3em;
}
.popover{
	max-width: 300px; /* Max Width of the popover (depending on the container!) */
	white-space: pre-wrap;  
}
.mask {
	background-color: transparent/*rgba(67, 182, 177, 0.41)*/;
}

#works article:hover .img-responsive{
	filter: brightness(155%) contrast(80%);
	transition: 0.3s;
}
.imgWrapper{
	background-color: #e6f1f1;
	border-radius: 10px;
	box-shadow: 1px 1px 10px grey;
}
#cortana_wait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    text-align: center;
    background: rgba(128, 128, 128, 0.8);
}
#cortana_wait_cont {
    height: 5rem;
    position: relative;
    display: inline-flex;
    top: calc(50vh - 2.5rem);
    background-color: black;
    padding: 1rem;
    box-sizing: content-box;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
    border: 0.2rem solid gray;
    color: #c2c2c2;
}
#cortana_wait_icon {
    display: inline-block;
    width: 5rem;
    height: 100%;
    left: calc(0%);
    background-image: url(/One_page/images/cortana_wait.gif);
    background-position: 50% 70%;
    background-size: 150%;
    float: left;
}
#cortana_wait_msg {
    display: inline-block;
    font-size: 3rem;
    line-height: 5rem;
    background: inherit;
    height: 100%;
    float: left;
    padding-left: 1rem;
}
h2{
	color: #212121;
	font-weight: 600;
}

.Ref3x3{
    padding: 1em;
    box-sizing: border-box;
    /* background: rgba(151, 170, 114, 0.81); */
    /* background: rgba(137, 154, 102, 0.85); */
    margin: 0.45em;
    width: calc(33.33333333% - 1em);
    border-radius: .5em;
    transition: 0.6s;
    cursor: pointer;
    display: block;
    /* box-shadow: 0px 0px 17px 0px #626262; */
    border: 2px solid white;
    background-color: rgba(103, 103, 103, 0.46);
    border: 0;
}

.Ref3x3 h3{
    color: white;
    font-size: 1.8em;
    margin-bottom: 24px;
    line-height: 1.1;
}

.Ref3x3 p{
    color: #b4b4b4;
    margin-bottom: 0px;
}

.Ref3x3:hover{
	background-color: rgba(145, 145, 145, 0.7);
    text-decoration: none;
    box-sizing: border-box;
}

.Ref3x3:hover p{
    color: #dfdfdf
}
/*
.Ref3x3:hover h3{
    color: #c4ffe4;
}
*/

/******************************2017-06-19 民眾端簡化*******************************/
/*p{
	line-height: 1.5;
}

li {
    line-height: 1.8 !important;
}*/
.navbar-brand > img {
	width: 250px;
}
.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-control {
    background-color: rgba(255, 255, 255, 0) !important;
}

#team .form-group .BG, #process .form-group .BG, #P1-2Modal .modal-body .BG{
    content: '';
    position: absolute;
    width: calc(100% - 0px);
    height: 34px;
    top: 28px;
    border-radius: 0.5rem;
    background: rgba(211, 211, 211, 0.36);
    z-index: 0;
    pointer-events:none;
}

#area_S{
    color: white;
    font-size: 18px;
}

#area_S option{
    color: white;
    background-color: rgb(133, 159, 186);
}


#Law001{
	line-height: 1.8 !important;
}

#HPmenu > a {
    border: 1px solid white;
    border-radius: 5px;
    height: 5rem;
    line-height: 5rem;
    width: calc(30%);
    margin: 1.5rem 1.5rem;
    display: inline-block;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .4s;
    min-width: 250px;
    background: rgba(110, 110, 110, 0.65);
}

#HPmenu > a:hover {
    background-color: rgba(0, 0, 0, 0.68);
}
#HPmenu > a{
    color:white;
}
#HPmenu > a:hover{
    text-decoration: none;
}

#team label, #contactSlice label {
    color: lightgrey;
    font-size: 1.7rem;
}

@media (max-width: 1200px){
	.Ref3x3{
		/*height:8em;*/
	}
}

@media (max-width: 1024px){
	#mainHeader {
    	padding-bottom: 0px;
	}
	.navbar-header>a{
		position: relative;
    	top: -14px;
	}
	.navbar-header>button{
		position: relative;
    	top: -6px;
	}
	.navbar-nav > li > a {
		padding-top: 18px;
        padding-bottom: 18px;
	}

	h1 {
    	font-size: 36px;
    	line-height: 36px;
	}

	.Ref3x3 > h3 {

	}
	.Ref3x3 > p {

	}	
}

#logoBig{
    margin: auto;
}

#logoBig > img{
    top: 0em;
    width: 240px;
    position: relative;
    left: calc(-120px);
}

#logoBig > div{
    color: white;
    position: absolute;
    margin: auto;
    top: 18VH;
    text-align: center;
    left: calc(50VW + 50px);
}

.section-BG{
    background-image: url(/One_page/images/background/01.jpg);
    background-size: cover;
    width: 100VW;
    height: 100%;
    position: fixed;
    height: calc(100VH);
    top: 0em;
    background-position: 50% 50%;
}

.P0-MT, .P1-MT, .P2-MT{
    margin-bottom: 25VH; 
}

.P0-MT > h1{
    font-weight: 600;
    color: white ;
    font-size: 4em;
    margin-bottom: 24px;
}

.modal-title{
    font-size: 2em;
}

.modal-body p{
    font-size:1em;
    line-height: 1.3;

}

.P0-sec, .P1-sec{
    padding: 1em;
    box-sizing: border-box;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: calc(33.3333333333% - 1em);
    border-radius: 1em;
    transition: .6s;
    /*background-color: rgba(191, 140, 77, 0.72);
    box-shadow: 0px 0px 17px 0px #383838;*/
    border: 3px solid lightgrey;
    padding-bottom: 0.1em;
    background-color: rgba(103, 103, 103, 0.46);
    border: 0;
}

.P1-sec i, .P0-sec i{
    transition: .6s;
}

.P0-sec{
    background-color: rgba(103, 103, 103, 0.46);
    border: 0;
}

.P1-sec a, .P1-sec a h2, .P0-sec a, .P0-sec a h2{
    color: lightgrey;
}

.P1-sec a:hover, .P0-sec a:hover{
    text-decoration: none;
}

.P1-sec:hover, .P0-sec:hover{
    background-color: rgba(182, 182, 182, 0.7);
    /*border: 5px solid white;*/
}

.P1-sec:hover i, .P0-sec:hover i{
    transform: rotate(30deg);
}

.P1-sec a, .P1-sec a h2, .P0-sec a, .P0-sec a h2{
    transition: .6s;
}

.P1-sec:hover a, .P1-sec:hover a h2, .P0-sec:hover a, .P0-sec:hover a h2{
    color: #FFF;
}

@media (max-width: 768px){
    #P1-1Modal .modal-body i{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
}


.color4, .slice.color4, .bulle.color4, .ctaBox.color4 {
    background-color: #FFF; 
    color: #fff;
}

.P3-Hbtn{
    padding: 2px;
    background-color: rgba(80, 119, 65, 0.36);
    line-height: inherit;
    vertical-align: baseline;
    position: relative;
    top: -0.2em;
    left: 1.2em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.4em;
    transition: .6s;
    cursor: pointer;
    position: absolute;
    top: 31px;
    right: 3px;
    left: auto;
    width: 40px;
}

.P3-Hbtn:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(180, 180, 180, .5);
}

.section_fade {
    min-height: calc(100VH);
    align-items: center;
    display: flex;
    padding-top: 120px;
}

#team.section_fade{
    display: block;
    padding-top: 160px;
}
@media (max-width: 1024px){
    #team.section_fade{
        padding-top: 100px;
    }
}



#P3-S1, #P3-S2{
    transition: .6s;
}

.tax-check-info{
    display: -webkit-box;
    position: absolute;
    top: 33px;
    color: #cccccc;
    font-size: 24px;
    left: 54px;
    cursor: pointer;
    transition: .6s;
}

.tax-check-info:hover{
    color: white;
}


@media (max-width: 1024px){
    .tax-check-info{
       font-size: 16px; 
    }
}

/*  purple  background-color: rgba(103, 70, 127, 0.95);*/

.Modal-info-red .modal-content{
    background-color: rgba(135, 52, 52, 0.95);
    color: white;
}

.Modal-info-red .modal-header h4, .Modal-info-red .modal-body h3, .Modal-info-red .modal-body h1, .Modal-info-red .modal-body h2{
    color: white; 
}

.Modal-info-red .modal-body .ctaBox{
    background-color: #768da7;
    border-color: #e5e5e5;
    color: white;
    background: rgba(211, 211, 211, 0.36);
    border: 0;
    border-radius: 6px;
}

.Modal-info-red .modal-footer button{
    background: #aa3131;
    color: white;
    border-color: #e5e5e5;
    border: 0;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
}


.Modal-info-blue .modal-content{
    background-color: rgba(93, 135, 181, 0.95);
    color: white;
}

.Modal-info-blue .modal-header h4, .Modal-info-blue .modal-body h3, .Modal-info-blue .modal-body h1, .Modal-info-blue .modal-body h2{
    color: white; 
}

.Modal-info-blue .modal-body .ctaBox{
    background-color: #768da7;
    border-color: #e5e5e5;
    color: white;
    background: rgba(211, 211, 211, 0.36);
    border: 0;
    border-radius: 6px;
}

.Modal-info-blue .modal-footer button{
    background: #3267a2;
    color: white;
    border-color: #e5e5e5;
    border: 0;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.Modal-info-green .modal-content{
    background-color: rgba(78, 155, 131, 0.95);
    color: white;
}

.Modal-info-green .modal-header h4, .Modal-info-green .modal-body h3, .Modal-info-green .modal-body h1, .Modal-info-green .modal-body h2{
    color: white; 
}

.Modal-info-green .modal-body .ctaBox{
    background-color: #5f8b7d;
    border-color: #e5e5e5;
    background: rgba(211, 211, 211, 0.36);
    color: white;
    border: 0;
    border-radius: 6px;
}

.Modal-info-green .modal-footer button{
    background: #377461;
    color: white;
    border-color: #e5e5e5;
    border: 0;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.section-BG.b01{
    background-image: url(/One_page/images/background/01.jpg);
    animation: SlideBlurDark 3s;
    transform-origin: center;
    animation-fill-mode: forwards;
}
.section-BG.b02{
    background-image: url(/One_page/images/background/02.jpg);
    animation: SlideBlurDarkBG 3s;
    transform-origin: center;
    animation-fill-mode: forwards;
}
.section-BG.b03{
    background-image: url(/One_page/images/background/03.jpg);
    background-position: 60% 50%;
    animation: SlideBlurDark 3s;
    transform-origin: center;
    animation-fill-mode: forwards;
}
.section-BG.b04{
    background-image: url(/One_page/images/background/04.jpg);
    animation: SlideBlurDark 3s;
    transform-origin: center;
    animation-fill-mode: forwards;
    background-position: 46% 50%;
}
.section-BG.b05{
    background-image: url(/One_page/images/background/05.jpg);
    animation: SlideBlurDark 3s;
    transform-origin: center;
    animation-fill-mode: forwards;
}

.section-IE-filter{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: black;
    top: 0px;
    left: 0px;
    opacity: 0;
    display: none;
}

.Ani-FadaIn{
    opacity:0;
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes SlideBlurDark {
  0% {
    transform: translate(0px, -100%) scale(1.02);
    filter: blur(0px) brightness(100%);
  }

  40% {
    transform: translate(0px, 0%) scale(1.02);
    filter: blur(0px) brightness(100%);
  }

  100%{
    transform: translate(0px, 0%) scale(1.02);
    filter: blur(6px) brightness(30%);
  }
}

@keyframes SlideBlurDarkBG {
  0% {
    transform: translate(0px, -100%) scale(1.02);
    filter: blur(0px) brightness(100%);
  }

  40% {
    transform: translate(0px, 0%) scale(1.02);
    filter: blur(0px) brightness(100%);
  }

  100%{
    transform: translate(0PX, 0%) scale(1.02);
    filter: blur(6px) brightness(40%);
  }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;

    }
}

@media (max-width: 768px){
	#Photo-1-1{
		display: none;
		transition: 1s;
	}

	.Ref3x3{
	    width: calc(100% - 5px);
        margin: auto;
        margin-top: 1em;
	}

    .Ref3x3 h3 {
        font-size: 1.6em;
    }

    #works > div.container.clearfix > div:nth-child(3){
        margin-top: 0em;
    }

    .P0-sec, .P1-sec{
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }

    .P0-MT, .P1-MT, .P2-MT{
        margin-bottom: 0%; 
    }

    .P0-MT > h1{
        font-weight: 600;
        color: white;
        font-size: 3em;
        margin-bottom: 24px;
    }


}


@media (max-width: 600px){
    #logoBig > img{
        width: 180px;
           left: calc(-120px);
            
    }
    #logoBig > div{
        top: 11VH;
        left: calc(38VW + 50px);
    }
    
}


@media (max-width: 360px){
	.navbar-brand > img {
		width: 200px;
	}
}



